<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <h1 style="color: #bbb;margin: 11px 0px;font-size: 26px;">BookStore</h1>
            </div>
            <!-- END LOGO -->
        </div>
    </div>
    <div class="clearfix"> </div>
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <nav-menu></nav-menu>
            </div>
        </div>
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>